.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 12px 16px;
    border-radius: 8px;

    color: var(--btn-primary-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: 2px solid transparent;
    outline-offset: 2px;
    user-select: none;
    
    background:
        var(--btn-primary-bg-color) padding-box,
        var(--btn-primary-border-color) border-box;
        
    &:hover{
        background:
            var(--btn-primary-hover-bg-color) padding-box,
            var(--btn-primary-hover-border-color) border-box;
    }

    &:focus{
        outline: 2px solid var(--btn-primary-focus-border-color);
    }

    &.cancel{
        background: none;
        background-color: transparent;
        border: 1px solid var(--btn-cancel-border-color);
        color: var(--btn-cancel-text-color);
    
        &:hover{
            background-color: var(--btn-cancel-hover-bg-color);
            border: 1px solid var(--btn-cancel-hover-border-color);
        }

        &:focus-visible{
            outline-color: var(--btn-cancel-focus-outline-color);
            border-color: var(--btn-cancel-focus-border-color);
            background-color: var(--btn-cancel-hover-bg-color);
        }

        &:active{
            border-color: var(--btn-cancel-active-border-color);
            background-color: transparent;
            outline-color: transparent;
            color: var(--btn-cancel-active-text-color);
        }
    }


}